{% extends 'base.html' %}
{% block content %}
<html>
    <body>
        <form method="get" action="{% url 'recommend:index' %}">
            <div>
                <label for="alco">주류명</label>
                <input id="alco" name="alco" placeholder="주류명을 입력하세요" type="text">
                <button>추천</button>
            </div>
        </form>  
        <br>
        {% if result %}
        {{ result | json_script:'jsonData'}}
        전체 주류내에서 추천 : 
        <script type = "text/javascript"> 
            var placeData = JSON.parse(document.getElementById('jsonData').textContent);
            console.log(placeData) ;
            fin = JSON.parse(placeData) ;
            console.log(fin) ;    
            for(i=0; i<=9; i++){      
                document.write(fin.general[i],'\n') ;  
            }     

        </script>
        <br>
        <hr style="border-top: 1px solid black; margin: 10px 0;">
        입력한 술과 같은 주류내에서 추천: 
        <script type = "text/javascript"> 
            var placeData = JSON.parse(document.getElementById('jsonData').textContent);
            console.log(placeData) ;
            fin = JSON.parse(placeData) ;
            console.log(fin) ;
            for(i=0; i<=9; i++){   
                document.write(fin.alc_cate[i], '\n') ; 
            }       
        </script>
    {% endif %}
    </body>   
</html>

{% endblock %}
